<!DOCTYPE html>
html(lang="en")
head
  meta(name="robots", content="noindex")
  meta(name="viewport", content="width=device-width,maximum-scale=1,initial-scale=1")
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet", href="css/style.css")
body
  .page
    header.page__header
      img.icon.logo(src="assets/logo.png")
      a.link.link--active(href="#") События
      a.link(href="#") Сводка
      a.link(href="#") Устройства
      a.link(href="#") Сценарии
    main.page__main
      h1.title Лента событий

      each event in JSON.parse(events)
        .card(class="card--" + event.size + " card--" + event.type + (!event.description && !event.data ? ' card--small' : ' card'))
          button.button.card__control
          button.button.card__control
          .card__header
            .card__title
              img.icon(src="assets/" + event.icon + '.svg')
              span= event.title
            .card__subtitle
              div= event.source
              div= event.time
          if event.description || event.data
            .card__body
              .card__description= event.description

              - var { buttons, type, image, albumcover, artist, track, volume } = event.data || {}
              - var { temperature, humidity } = event.data || {}
              - var allowedKeys = ['temperature', 'humidity']


              if buttons
                .button__group
                  .button.button--active #{buttons[0]}
                  .button #{buttons[1]}

              else if type === "graph"
                img.card__image(
                  srcset="assets/chart.png 320w, assets/chart2.png 480w, assets/chart3.png 800w",
                  sizes="(max-width: 320px) 280px, (max-width: 480px) 440px, 800px",
                  src="assets/chart3.png")

              else if image
                img.card__image.show-on-desktop(
                  srcset="assets/bitmap.png 820w, assets/bitmap2.png 1664w, assets/bitmap3.png 2496w",
                  sizes="(max-width: 820w) 820px, (max-width: 1664w) 1664px, 2496px",
                  src="assets/bitmap3.png")
                .image-m__container.show-on-touch
                  img.card__image.image-m(
                    draggable="false",
                    ondragstart="return false;",
                    srcset="assets/bitmap.png 820w, assets/bitmap2.png 1664w, assets/bitmap3.png 2496w",
                    sizes="(max-width: 820w) 820px, (max-width: 1664w) 1664px, 2496px",
                    src="assets/bitmap3.png")
                  .image-m__track
                .image-m__parameter.indicator__group.show-on-touch
                  .indicator
                    | Приближение:&nbsp;
                    .zoom 100%
                  .indicator.indicator--separate
                    | Яркость:&nbsp;
                    .brightness 100%

              else if event.data && Object.keys(event.data).every(k => allowedKeys.includes(k))
                .indicator__group
                  .indicator
                    | Температура:&nbsp;
                    .indicator__value #{temperature} C

                  .indicator
                    | Влажность:&nbsp;
                    .indicator__value #{humidity}%
              else if albumcover
                .player
                  .player__row
                    img.player__albumcover(src=albumcover)
                    .player__column
                      .player__artist #{artist}
                      input.range(type="range")
                    .player__duration #{track.length}
                  .player__row
                    button.button.player__control
                      img(src="assets/prev.svg")
                    button.button.player__control
                      img(src="assets/prev.svg", style="transform: rotate(-180deg)")
                    .player__column
                      input.range.range--round(type="range")
                    .player__volume #{volume}%

    footer.page__footer
      a.link.link--small(href="#") Помощь
      a.link.link--small(href="#") Обратная связь
      a.link.link--small(href="#") Разработчикам
      a.link.link--small(href="#") Условия использования
      a.link.link--small(href="https://wiki.yandex.ru/shri-2018-II/homework/Adaptivnaja-vjorstka/.files/license.pdf", target="_blank").separate © 2001–2017  ООО «Яндекс»

  script(src="js/script.js")

